body {
  width: 380px;
  height: 180px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  user-select: 'none';
  overflow: hidden;
  font-size: 15px;
  line-height: 1.75;
}
