body {
  width: 400px;
  min-height: 500px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  user-select: none;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.75;
  font-family: 'M PLUS Rounded 1c';
}

#app-container {
  height: 100%;
}
