:root {
  color-scheme: dark;
}

body {
  width: 450px;
  min-height: 550px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  user-select: none;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.75;
  font-family: sans-serif;
}

#app-container {
  height: 100%;
}
